* {
    background-color: rgb(235, 29, 125) rgb(235, 29, 125);
    
}
body {
    font-size: 18px;
}
img { 
    border: 6px;
    /* display: block; */
    width: 30%;
}
h1, p { 
    /* border: 5px solid blue; */
    text-decoration-color: white;
    text-align: center;
}
#gospelsteps {
    color: black;
    font-size: 24px;
    font:bold;
    text-align: left;
    
}
#image-box { 
    text-align: center;
}
/* div p{
    background-color: brown;
}
div p:hover{
    background-color: pink;
} */