* {
    background-color: rgb(235, 29, 125) rgb(235, 29, 125);
    
}
body {
    font-size: 18px;
    text-align: center;
    border:6px  yellow;

}

img { 
    /* display: block; */
    
    width: 30%;
    border-radius: 90%;
    
}
#image-box { 
    text-align: center;
    border: 6px yellow;
    padding: 5%;
    box-sizing: border-box;
}
h1,p { 
    border: 5px solid blue;
    text-decoration-color: white;
    text-align: center;
    padding: 20px;

}
fall {
    border: 10px pink;
}

/* #gospelsteps {
    color: black;
    font-size: 24px;
    font:bold;
    text-align: left;
    
} */

/* div p{
    background-color: brown;
}
div p:hover{
    background-color: pink;
} */